---
layout: default
---
<div>
	<img class="background_img" src="{{ site.baseurl }}/images/IMG_0168.JPG">
</div>

<section class="hero diagonal alternate">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		<div style="width: 80%;">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{% if page.subtitle %}
				<p class="subtext">{{ page.subtitle }}</p>
			{% endif %}
			<p><a class="button alt" href="{{ site.baseurl }}/kontakt/">Kontaktiere uns</a></p>
		</div>
		<img class="logo" src="logo.svg">
	</div>
</section>

<section class="diagonal stripe">
    <div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		{% if page.stripe %}
        	<h3>{{ page.stripe }}</h3>
		{% endif %}
    </div>
</section>


<section class="diagonal alternate">
    <div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
        {{ content }}
    </div>
</section>

